:root {
  --primary-col: #2668ff;
  --accent-col: #0639a6;
  --text-dark: #000000;
  --text-light: #ffffff;
  --background-col: #ffffff;
  overflow: hidden;
}

.bg-base {
  --background-col: #2668ff;
  --text-dark: #ffffff;
  --primary-col: #ffffff;
}

.l3-hero {
  width: 100%;
  height: auto;
  font-family: "Inter", sans-serif;
  background-color: var(--background-col);

  .copy {
    padding-top: 56px;
    padding-left: 39px;
    padding-right: 39px;
    text-align: left;
    color: var(--text-dark);

    .cta-list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: auto;
      margin-top: 16px;

      .left-btn {
        all: unset;
        width: auto;
        height: auto;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: var(--accent-col);
        padding: 20px 40px;
        border-radius: 50px;
        color: var(--text-light);
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        text-align: center;
      }

      .list-anchor {
        margin-left: 24px;
        text-decoration: none;
        color: var(--text-dark);
        font-weight: 600;
        font-size: 16px;
      }

      .right-arrow {
        path {
          stroke: var(--text-dark);
        }
      }
    }
  }

  .media {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -50%;
      width: 200%;
      height: 40%;
      background-color: var(--primary-col);
      z-index: 0;
    }

    .main-img {
      position: relative;
      width: 55%;
      height: auto;
      border-radius: 50%;
      display: block;
      margin: auto;
      z-index: 1;
    }
  }

  @media (min-width: 768px) {
    .copy {
      padding-left: 76px;
      padding-right: 76px;
    }
  }

  @media (min-width: 992px) {
    .copy {
      padding: 120px 0;

      .title {
        font-size: 48px;
        line-height: 64px;
      }
    }

    .media {
      &::after {
        top: 0;
        bottom: auto;
        left: 60%;
        width: 200%;
        height: 100%;
        background-color: var(--primary-col);
      }

      .main-img {
        width: 100%;
        height: auto;
      }
    }
  }
}
