.l3-hero {
  width: 100%;
  height: auto;
  font-family: "Inter", sans-serif;

  .copy {
    padding: 120px 0;
    text-align: left;

    .intro {
      font-size: 12px;
      font-weight: 700;
    }

    .title {
      font-size: 48px;
      line-height: 64px;
      font-weight: 200;
    }

    .sub-title {
      font-size: 18px;
      font-weight: 200;
      line-height: 24px;
    }

    .cta-list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: auto;

      .left-btn {
        all: unset;
        width: auto;
        height: auto;

        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: #0639a6;
        padding: 20px 24px;
        border-radius: 50px;
        color: white;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        text-align: center;
      }

      .list-anchor {
        margin-left: 1rem;
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-size: 16px;
      }
    }
  }

  .media {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 60%;
      width: 100%;
      height: 100%;
      background-color: #2668ff;
      z-index: 0;
    }

    .main-img {
      width: 100%;
      height: auto;
      z-index: 1;
      margin: auto;
      position: relative;
    }
  }
}
