:root {
  --primary-blue: #2b7fff;
  --text-dark: #000;
  --text-light: #fff;
}

.bg-base {
  --primary-blue: #fff;
  --text-dark: #000;
  --text-light: #2b7fff;
}

.unified-frame.l3-hero {
  width: 100%;
  height: auto;
  position: relative;
  background-color: var(--text-light);

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    background-color: var(--primary-blue);

    bottom: 0;
    left: 0;
    width: 100%;
    height: 18%;
  }

  .copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 3rem;
  }

  .cta-list {
    display: flex;
    gap: 12px;
  }

  .prev-btn,
  .next-btn {
    padding: 10px 22px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid var(--primary-blue);
    border-radius: 28px;
    min-width: 120px;
    text-align: center;
  }

  .prev-btn {
    background-color: var(--primary-blue);
    color: var(--text-light);
  }

  .next-btn {
    background-color: var(--text-light);
    color: var(--text-dark);
  }

  .media {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
  }

  .main-img {
    width: 70vw;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    z-index: 2;
  }

  @media (min-width: 992px) {
    &::after {
      top: 0;
      right: 0;
      left: auto;
      bottom: auto;
      width: calc(100% / 12 * 2);
      height: 100%;
    }

    .main-img {
      width: 100%;
    }
  }

  @media (min-width: 1920px) {
    &::after {
      width: calc(100% * 0.27);
    }

    .main-img {
      transform: scale(1.05);
    }
  }
}
