.l3-hero.unified-frame {
  .media {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    position: relative;
    pointer-events: none;
    user-select: none;

    &::after {
      bottom: 0;
      left: -50%;
      width: 200%;
      height: 40%;
    }

    .main-img {
      width: 55%;
      height: auto;
      display: block;
      z-index: 1;
    }
  }

  @media (min-width: 992px) {
    .media {
      justify-content: flex-end;

      &::after {
        top: 0;
        bottom: auto;
        left: 67%;
        width: 200%;
        height: 100%;
      }

      .main-img {
        width: 83%;
      }
    }
  }
}
