.l3-hero.unified-frame {
  .media {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    position: relative;

    &::before {
      bottom: 0;
      width: 100vw;
      height: 40%;
    }

    .frame-img {
      width: 55%;
      height: auto;
      display: block;
      z-index: 1;
    }
  }

  @media (min-width: 992px) {
    .media {
      justify-content: flex-end;

      &::before {
        top: 0;
        bottom: 0;
        left: 67%;
        height: 100%;
      }

      .frame-img {
        width: 83%;
      }
    }
  }
}
