.l3-hero.unified-dot {
  .media {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;

    &::before {
      bottom: 10%;
      width: 55%;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
    }

    .standard-img {
      display: block;
      width: 70%;
      height: auto;
      z-index: 1;
    }
  }

  @media (min-width: 992px) {
    .media {
      justify-content: flex-start;

      &::before {
        left: 17%;
        width: 83%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
      }

      .standard-img {
        width: 100%;
      }
    }
  }
}
