.l3-hero.unified-frame {
  .media {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    position: relative;

    .media-skeleton {
      width: 55%;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      height: auto;
      background: linear-gradient(
        100deg,
        var(--accent-col) 30%,
        rgba(255, 255, 255, 0.35) 37%,
        var(--accent-col) 44%
      );
      z-index: 3;
      background-size: 200% 100%;
      animation: shimmer 1.4s infinite linear;
    }

    &::before {
      bottom: 0;
      width: 100vw;
      height: 40%;
    }

    .frame-img {
      width: 55%;
      height: auto;
      display: block;
      z-index: 1;
    }
  }

  @media (min-width: 992px) {
    .media {
      justify-content: flex-end;

      .media-skeleton {
        width: 85%;
      }

      &::before {
        top: 0;
        bottom: 0;
        left: 67%;
        height: 100%;
      }

      .frame-img {
        width: 83%;
      }
    }
  }
}

@keyframes shimmer {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}
