.l3-hero.unified-ecosystem {
  .media {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;

    &::after {
      height: 15%;
      width: 100vw;
    }

    .vertical-img {
      display: block;
      width: 70%;
      height: auto;
      z-index: 1;
    }
  }

  @media (min-width: 992px) {
    .copy {
      &::after {
        content: "";
        position: absolute;
        background-color: var(--primary-col);
        z-index: 0;
        bottom: 0;
        height: 15%;
        width: 100vw;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .media {
      justify-content: flex-start;

      .vertical-img {
        width: 100%;
      }
    }
  }
}
