.l3-hero.unified-vertical {
  .media {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;

    &::after {
      width: 100vw;
      height: 40%;
    }

    .vertical-img {
      display: block;
      width: 70%;
      height: auto;
      z-index: 1;
    }
  }

  @media (min-width: 992px) {
    .media {
      justify-content: flex-start;

      &::after {
        left: 67%;
        height: 100%;
      }

      .vertical-img {
        width: 100%;
      }
    }
  }
}
