.bg-base {
  --primary: #fff;
  --dark: #000;
  --light: #2b7fff;
}

.unified-frame.l3-hero {
  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    background-color: var(--primary);

    bottom: 0;
    left: 0;
    width: 100%;
    height: 18%;
  }

  .media {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
  }

  .main-img {
    width: 70vw;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    z-index: 2;
  }

  @media (min-width: 992px) {
    &::after {
      top: 0;
      right: 0;
      left: auto;
      bottom: auto;
      width: calc(100% / 12 * 2);
      height: 100%;
    }

    .main-img {
      display: block;
      width: 100%;
    }
  }

  @media (min-width: 1920px) {
    &::after {
      width: calc(100% * 0.27);
    }

    .main-img {
      transform: scale(1.05);
    }
  }
}
