.l3-hero.unified-vertical {
  .media {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    pointer-events: none;
    user-select: none;

    &::after {
      bottom: 0;
      left: -50%;
      width: 200%;
      height: 40%;
    }

    .hand-img {
      display: block;
      width: 70%;
      height: auto;
      z-index: 1;
    }
  }

  @media (min-width: 992px) {
    .media {
      justify-content: flex-start;

      &::after {
        top: 0;
        bottom: 0;
        left: 60%;
        width: 100%;
        height: 100%;
      }

      .hand-img {
        width: 100%;
      }
    }
  }
}
