@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary-col: #2668ff;
  --accent-col: #0639a6;
  --text-dark: #000000;
  --text-light: #ffffff;
  --background-col: #ffffff;

  overflow: hidden;
  font-family: "Inter", sans-serif;

  @import "variants/variants";
}
